body {
    margin: 0;
}

.header {
    background-color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #e8e8e8;
}

.header__logo {
    font-family: "Sanchez", serif;
    color: #7a5e51;
    text-decoration: none;
    font-size: 32px;
    font-weight: 300;
}