.confirm-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.confirm__title {
    font-family: "Sanchez";
    font-size: 30px;
    font-weight: 300;
    color: #7a5e51;
    text-align: center;
}

.form {
    width: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
}

.confirm-table__inner,.confirm-table__header,.confirm-table__text{
    border: 1px solid #e8e8e8;
    border-collapse: collapse;
}

.confirm-table__header {
    padding: 15px;
    background-color: #a28f85;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}



.confirm-table__text {
    text-align: left;
    width: 80%;
    padding: 15px;
    font-family: "Sanchez";

}

table-content {
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #7a5e51;
    width: 100%;
}

.confirm-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}

.send-form,
.modify-form {
    display: inline-block;
}

.form__button-submit {
    font-size: 15px;
    height: 40px;
    width: 100px;
    background-color: #7a5e51;
    border: #7a5e51;
    color: #ffffff;
}

.modify-form {
    margin-top: 5px;
}

.modify__button-submit {
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #7a5e51;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
}

.modify__button-submit:hover {
    opacity: 0.7;
}