.background {
    background-color: #ebe6e1;
}

.header-item {
    position: absolute;
    right: 20px;
    display: flex;
}

.register-button {
    font-family: "Sanchez";
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    height: 40px;
    width: 120px;
    background-color: #e8e8e8;
    border: 1px solid #c8b9aa;
    color: #c8b9aa;
    line-height: 40px;
    text-align: center;
}

.login-form__title {
    font-family: "Sanchez";
    font-size: 30px;
    font-weight: 300;
    color: #7a5e51;
    text-align: center;
    width: 100%;
    line-height: 40px;
    text-align: center;
}

.login-form {
    margin: 0 auto;
    width: 700px;
    background-color: white;
    border: 1px solid #c8b9aa;
    border-radius: 2%;
    padding: 50px 200px;
}

.form-title {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    color: #7a5e51;
}

.form-input {
    background-color: #e8e8e8;
    border: #e8e8e8;
    border-radius: 5px;
    font-family: "Sanchez";
    color: #7a5e51;
    width: 100%;
    height: 45px;
    padding: 0 10px;
}

.login-button {
    text-align: center;
    margin-top: 50px;
    font-size: 15px;
}

.login-button__submit {
    height: 40px;
    width: 120px;
    background-color: #7a5e51;
    border: #7a5e51;
    color: #ffffff;
}

.form__error {
    color: red;
    font-size: 15px;
}