.bg-text-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
}

.bg-text {
    font-family: "Sanchez";
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 250px;
    font-weight: 300;
    color: #7a5e510d;
    pointer-events: none;
    user-select: none;
    white-space: nowrap;
    z-index: 0;
}

.content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.thanks-massage {
    color: #7a5e51;
    font-size: 20px;
    font-weight: bold;
}

.home-button {
    font-family: "Sanchez";
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    height: 40px;
    width: 120px;
    background-color: #7a5e51;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
}